# Dependencias
node_modules/

# Producción
dist/
dist-ssr/

# Variables de entorno (Seguridad)
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
